@model Vidly.ViewModel.CustomerVM

<div  class="jumbotron">
    <h3 align="center">Create Customer</h3>
    <hr />
    @using (@Html.BeginForm("Create", "Customers"))
    {
            @Html.ValidationSummary(true,"Please fix following errors", new {@class="alert alert-danger"})

        <div class="form-group">
            @Html.LabelFor(c => c.Customer.Name)
            @Html.TextBoxFor(c => c.Customer.Name, new {@class = "form-control"})
            @Html.ValidationMessageFor(c=>c.Customer.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Customer.MembershipTypeId)
            @Html.DropDownListFor(c => c.Customer.MembershipTypeId,
                new SelectList(Model.MembershipTypes, "Id", "Name"),
                "Select Membership", new {@class = "form-control"})
            @Html.ValidationMessageFor(c => c.Customer.MembershipTypeId)


        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Customer.BirthDate)
            @Html.TextBoxFor(c => c.Customer.BirthDate, new {@class = "form-control", id= "datepicker" })
            @Html.ValidationMessageFor(c=>c.Customer.BirthDate)

        </div>
        <div>

            Subscribe to Newsletter? @Html.CheckBoxFor(c => c.Customer.IsSubscribeToNewsletter, new { id ="toggle-one", @class= "checkbox-inline" })

        </div>
        <hr/>
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-flag">&nbsp;</span>Save</button>

    }

</div>


@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <style type="text/css">
        .ui-datepicker-header {
            background-color: #dee9d7;
        }

        .ui-datepicker-calendar {
            background-color: #a0bf8c;
        }

        .ui-datepicker {
            background-color: #3a6445;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function() {
            $("#datepicker").datepicker({
                dateFormat: "dd MM yy",
                changeYear: true,
                changeMonth: true,
                showButtonPanel: true,
                yearRange: "-100:+0"

            });

        });

        $(function() {
            $('#toggle-one').bootstrapToggle(
                {
                    on: "YES",
                    off: "NO",
                    onstyle: "warning"
                }
            );
        });

    </script>
}


